*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.left-side{
    background: #060339;
    width: 50%;
    height:100%;
    display: inline-block;
    position: fixed;
    border: 0px;
    outline: 0px;
    opacity: 0.8;
    padding: 120px 20px 20px 120px;
}

.left-side img{
    
    width: 400px;
    height: 400px;

}


.right-side{
    width: 50%;
    float: right;
    padding: 20px 20px 20px 80px;
    
}

.right-side .logo{
    margin-top: 5px;
    margin-bottom: 90px;
        
}    

.right-side p{
    font-family: raleway;
    font-weight: 400;
    font-size: 18px;
    color: #999898;
    margin-top: 20px;
}
.right-side span{
    font-size: 40px;
    color: #333333;
    font-family: raleway;
    font-weight: 700;
}
.right-side input{
    width: 300px;
    height: 45px;
    font-size: 20px;
    font-family: raleway;
    padding: 3px;
    border: 0px;
    outline: 0px;
    box-shadow: 2px 2px 2px #dadada;
    margin: 5px;

}

.right-side button{
    width: 120px;
    height: 45px;
    border: 0px;
    border-radius: 5px;
    background: hsl(163, 95%, 43%);
    box-shadow: 2px 2px 2px #dadada;
    color: white;
    margin: 5px;
}
.right-side .sign{
    color: black;
    margin: 30px 0 0 10px;
    font-size: 20px;
    font-family: raleway;
    font-weight: bold;
}

.right-side .policy{
    text-align: right;
    margin: 120px 0 0px 0px;
    font-family: raleway;
    color: #999898;
    text-decoration: none;
}


.right-side .policy a:link{
color: #999898;
text-decoration-color: #999898;
}