*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: raleway;
    font-weight: 400;
    font-size: 12px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance{
    width: 375px;
    height: 600px;
    position: relative; 

}

.title1{
    font-family: raleway;
    font-size: 15px;
    font-weight: bold;
    padding: 150px 2px 2px 20px;
}

