*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    min-height: 500px;
      
    
}

.container img{
    padding: 30px 0 0 20px;
    width: 200px;
    height: 60px;
}
.levelone {
 

}
.levelone h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 120px;
    text-align: center;

}

.levelone p{
    text-align: center;
    color: grey;
    padding-bottom: 20px;
    font-size: 22px;

}

.levelone img{
    width: 850px;
    height: 600px;
    padding: 40px;
    margin-left: 250px;
}

.leveltwo{

}

.leveltwo h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}

.leveltwo input{
    width: 300px;
    padding: 9px;
    font-size: 16px;
    margin-left: 450px;
    margin-bottom: 120px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}
.leveltwo button{
  width: 100px;
  height: 40px;
  outline: none;
  background: palevioletred;
  font-weight: 600;
  color: white;
  border: 0px;
  border-radius: 8px;
  margin-left: 10px;

}
.footer{
    display: inline-block;
    background: #00242d;
    height: 150px;
    width: 100%;
    color: white;
}
 nav ul{
    padding-bottom: 40px;
    padding-left: 800px;

}
nav li{
    list-style-type: none;
    float: left;
    padding-right: 25px;
          
}

nav li a{
    text-decoration: none;
    color: wheat;
}
footer p{
    text-align: right;  
    padding-right: 175px;
}