*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background: #7238a8;
    color: white;
    font-family:sans-serif;
    display: flex;
    font-size: 12px;
}
.one{
    width: 100%;
    height: 100%;
    background-image: url(images/bg-desktop.svg);
    display: block;
    position: absolute;
}

.top-left{
    width: 50%;
    display: inline-block;
}
.logo{
    margin: 35px 0 35px 70px;
    width: 30%;
}
.banner{
    width: 90%;    
    margin: 30px 0 5px 70px;
}

.top-right{
    width:50%;
    float: right;
}
.top-right h1{
    font-size: 40px;
    font-weight: 400px;
    margin: 200px 0 5px 100px;
}
.top-right p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
    opacity: 0.9;
    font-weight: 300;
    margin: 20px 0 5px 100px;
}
button{
    background: wheat;
    width: 150px;
    color: #3d51a2;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    padding: 12px 5px;
    margin: 10px 0 5px 100px;
    box-shadow: 3px 2px 2px #622e92;
}